.field {
    width: inherit;
    height: 100vh;

    background-image: url("/assets/img/board.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
    }

}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1.1) translateY(-10px);
    }

    40% {
        transform: scale(1.7);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
    }
}

.playedCard {
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
}

.btn-add {
    position: absolute;
    top: 32px;
    right: 32px;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}

@media (max-width: 1080px) {

    .player-position {
        position: absolute;
        top: 48px !important;
    }

    .btn-add {
        top: 60px;
        left: 24px;
    }

    .pin-bottom {
        bottom: 10px;
        left: 10px;
        right: 10px;
    }

    .card-stack {
        img {
            width: 100px;
        }
    }



.pick-card {
    animation: pick-card-animation-mobile 1s ease-in-out;
    transform: scale(1.3) translateX(100px) translateY(-130px) rotate(-60deg);
}

@keyframes pick-card-animation-mobile {
    0% {
        transform: scale(1.1) translateY(-10px);
    }

    40% {
        transform: scale(1.7);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.3) translateX(100px) translateY(-130px) rotate(-60deg);
    }
}

.playedCard {
    transform: scale(1.3) translateX(100px) translateY(-130px) rotate(-60deg);
}
}

app-player {
    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
}

.game-over {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 300px;
        height: auto;
    }
}

.preload-img {
    opacity: 0;
    width: 0px;
    height: 0px;
    z-index: -99999;
}